@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.heading4 {
  position: relative;
  line-height: 28.8px;
  font-weight: 600;
}
.downloadTheApp {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-whitesmoke-200);
}
.divfooterContentHeading {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-76xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-10xl-8);
}
.googlePaypngIcon {
  position: relative;
  width: 168px;
  height: 60px;
  object-fit: cover;
  max-width: 173px;
}
.link {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.appStorepngIcon {
  position: relative;
  width: 162px;
  height: 60px;
  object-fit: cover;
  max-width: 167px;
}
.divdownloadApp {
  position: absolute;
  top: 97.8px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-57xl) 0 0;
}
.heading41 {
  position: relative;
  line-height: 28.8px;
  text-transform: capitalize;
  font-weight: 600;
}
.symbol {
  position: relative;
  line-height: 18px;
}
.ifaBrands,
.itemLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemLink {
  border-radius: var(--br-xl);
  background-color: var(--shade-01);
  width: 40px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 13.619999885559082px var(--padding-2xs)
    14.380000114440918px;
  box-sizing: border-box;
}
.itemmargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.itemLink1,
.itemLink2,
.itemLink3,
.itemLink4 {
  border-radius: var(--br-xl);
  background-color: var(--shade-01);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 11.869999885559082px var(--padding-2xs)
    12.130000114440918px;
  box-sizing: border-box;
}
.itemLink2,
.itemLink3,
.itemLink4 {
  padding: var(--padding-2xs) 9.119999885559082px var(--padding-2xs)
    9.880000114440918px;
}
.itemLink3,
.itemLink4 {
  padding: var(--padding-2xs);
}
.itemLink4 {
  padding: var(--padding-2xs) 12.75px var(--padding-2xs) 13.25px;
}
.item {
  align-self: stretch;
  flex-direction: column;
}
.divsocialLinks,
.item,
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-107xl) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-midnightblue-300);
  font-family: var(--font-font-awesome-5-brands);
}
.divsocialLinks {
  position: absolute;
  width: 100%;
  top: 207.8px;
  right: 0;
  left: 0;
  flex-direction: column;
  gap: 14.79px;
}
.divcolLg4,
.divfooterAppContent {
  position: absolute;
  top: 0;
  height: 291.59px;
}
.divfooterAppContent {
  width: calc(100% - 24px);
  right: 12px;
  left: 12px;
}
.divcolLg4 {
  left: 0;
  width: 440px;
}
.explore {
  position: relative;
  line-height: 28.8px;
  font-weight: 600;
  display: inline-block;
  max-height: 28.799999237060547px;
}
.heading42 {
  position: absolute;
  top: 0;
  left: calc(50% - 98px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-88xl) 0 0;
}
.listings {
  position: relative;
  line-height: 24px;
}
.link3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.symbol6 {
  position: absolute;
  margin: 0 !important;
  top: 1.5px;
  left: 0;
  font-size: var(--body-copy-14pt-regular-size);
  line-height: 21px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 10.5px;
  height: 21px;
  flex-shrink: 0;
  z-index: 1;
}
.item1,
.item2 {
  display: flex;
  justify-content: flex-start;
}
.item1 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-100xl) 0 var(--padding-lg);
  position: relative;
}
.item2 {
  padding: 0 var(--padding-95xl) 0 var(--padding-lg);
}
.item2,
.item3,
.item4 {
  flex-direction: row;
  align-items: center;
  position: relative;
}
.item3 {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-116xl) 0 var(--padding-lg);
}
.item4 {
  padding: 0 var(--padding-115xl) 0 var(--padding-lg);
}
.item4,
.item5,
.list1 {
  display: flex;
  justify-content: flex-start;
}
.item5 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-101xl) 0 var(--padding-lg);
  position: relative;
}
.list1 {
  position: absolute;
  top: 58.8px;
  left: calc(50% - 98px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-200);
}
.divfooterWidgetList {
  width: calc(100% - 24px);
  right: 12px;
  left: 12px;
  height: 258.8px;
}
.divcolLg2,
.divfooterWidgetList,
.heading43 {
  position: absolute;
  top: 0;
}
.divcolLg2 {
  height: 100%;
  width: calc(100% - 880px);
  right: 440px;
  bottom: 0;
  left: 440px;
}
.heading43 {
  left: calc(50% - 98px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-47xl) 0 0;
}
.item10,
.item6,
.item7,
.item8,
.item9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-69xl) 0 var(--padding-lg);
  position: relative;
}
.item10,
.item7,
.item8,
.item9 {
  padding: 0 var(--padding-112xl) 0 var(--padding-lg);
}
.item10,
.item8,
.item9 {
  padding: 0 var(--padding-110xl) 0 var(--padding-lg);
}
.item10,
.item9 {
  padding: 0 var(--padding-120xl) 0 var(--padding-lg);
}
.item10 {
  padding: 0 var(--padding-130xl) 0 var(--padding-lg);
}
.divcolLg21 {
  position: absolute;
  height: 100%;
  width: calc(100% - 880px);
  top: 0;
  right: 220px;
  bottom: 0;
  left: 660px;
}
.heading44 {
  position: absolute;
  top: 0;
  left: calc(50% - 98px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-62xl) 0 0;
}
.item11,
.item12,
.item13,
.item14,
.item15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-56xl) 0 var(--padding-lg);
  position: relative;
}
.item12,
.item13,
.item14,
.item15 {
  padding: 0 var(--padding-99xl) 0 var(--padding-lg);
}
.item13,
.item14,
.item15 {
  padding: 0 var(--padding-122xl) 0 var(--padding-lg);
}
.item14,
.item15 {
  padding: 0 var(--padding-137xl) 0 var(--padding-lg);
}
.item15 {
  padding: 0 var(--padding-94xl) 0 var(--padding-lg);
}
.divcolLg22 {
  position: absolute;
  height: 100%;
  width: calc(100% - 880px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 880px;
}
.divcontainer,
.divfooterTop,
.divrow {
  position: absolute;
  top: 0;
  left: 12px;
  width: 1100px;
  height: 291.59px;
}
.divcontainer,
.divfooterTop {
  top: 60px;
  left: 168px;
  width: 1124px;
}
.divfooterTop {
  top: 0;
  left: 0;
  width: 1788px;
  height: 411.59px;
}
.copyright2023 {
  position: absolute;
  top: 0;
  left: -12px;
  line-height: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1518px;
}
.divfooterBottom,
.p {
  position: absolute;
  width: calc(100% - 1221px);
  top: 15px;
  right: 1209px;
  left: 12px;
  height: 21px;
}
.divfooterBottom {
  width: calc(100% - 380px);
  top: 412px;
  right: 380px;
  left: 0;
  background-color: var(--color-gray-600);
  height: 51px;
  text-align: center;
  font-size: var(--body-copy-14pt-regular-size);
}
.footer {
  position: absolute;
  width: calc(100% + 384px);
  right: -384px;
  bottom: -0.59px;
  left: 0;
  background-color: var(--color-gray-500);
  height: 462.59px;
  font-size: var(--font-size-5xl);
  color: var(--shade-01);
  font-family: var(--font-plus-jakarta-sans);
}
.filterframeChild {
  position: absolute;
  top: 8px;
  right: 9px;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  border: 1px solid #252525;
  box-sizing: border-box;
  width: 116px;
  height: 45px;
  opacity: 0.3;
}
.filters {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 0;
  font-size: var(--body-copy-14pt-regular-size);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 17px;
}
.mifilterIcon {
  position: absolute;
  top: 0;
  right: 57px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.filtersParent {
  position: absolute;
  top: 15px;
  right: 27px;
  width: 90px;
  height: 33px;
}
.filterframe {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% + 510.5px);
  width: 135px;
  height: 60px;
  overflow: hidden;
}
.filterframeWrapper {
  position: absolute;
  top: 252px;
  left: 79px;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 1351px;
  height: 80px;
  overflow: hidden;
}
.imageIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 303px;
  height: 287px;
  object-fit: cover;
}
.heartIcon {
  position: absolute;
  top: 16px;
  left: 263px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.line1 {
  color: var(--shade-02);
}
.dates,
.line1 {
  position: relative;
}
.info {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.info,
.locationDates,
.price {
  display: flex;
  justify-content: flex-start;
}
.price {
  flex-direction: row;
  align-items: center;
  color: var(--shade-02);
}
.locationDates {
  position: absolute;
  top: 303px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.starChild {
  position: relative;
  border-radius: var(--br-12xs-5);
  width: 16px;
  height: 16px;
}
.star {
  position: absolute;
  top: 303px;
  left: 255px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  color: var(--shade-02);
}
.ellipsesIcon {
  position: absolute;
  top: 273px;
  left: 127px;
  width: 49px;
  height: 6px;
}
.superhost {
  position: relative;
  font-weight: 600;
}
.superhostBadge {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: var(--br-9xs);
  background-color: var(--shade-01);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  color: var(--color-gray-400);
  font-family: var(--body-copy-14pt-regular);
}
.card {
  position: relative;
  top: 0;
  left: 0;
  width: 323px;
  height: 413px;
  bottom: -10px;
  border-right: 10px solid hsl(0, 0%, 100%);
  border-bottom: 10px;
  
}
.card:hover {
  cursor: pointer;
  
  opacity: 1;
}
.somanypropertycardsFrame {
  position: absolute;
  top: 400px;
  left: 30px;
  height: 2392px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
 
  font-size: var(--body-copy-14pt-regular-size);
  color: var(--neutral-08);
  font-family: var(--font-poppins);
}
.parent,
.sortBy {
  position: absolute;
}
.sortBy {
  top: 0;
  left: 0;
  
  font-weight: 600;
  display: flex;
  font-size: 14px;
  align-items: center;
  width: 73px;
  height: 80px;
}
.parent {
  top: 23.08px;
  left: 79px;
}
.showing647Places,
.sortByParent {
  position: absolute;
  top: 252px;
  left: 868px;
  width: 377px;
  height: 80px;
}
.showing647Places {
  left: 112px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 442px;
}
.browseChild,
.whiterectangle {
  position: absolute;
  top: 37px;
  left: 601px;
  background-color: var(--color-gainsboro-200);
  width: 301px;
  height: 54px;
}
.whiterectangle {
  top: 0;
  left: 0;
  background-color: var(--shade-01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 1518px;
  height: 105px;
}
.stickyNavBarChild {
  position: absolute;
  top: 105px;
  left: -97px;
  background-color: #31328f;
  width: 1777px;
  height: 105px;
}
.stay {
  font-weight: 500;
  color: var(--color-mediumslateblue-100);
}
.urbanstayTxt {
  line-break: anywhere;
  width: 100%;
}
.urbanstay {
  position: absolute;
  top: 49px;
  left: 25px;
  letter-spacing: -1px;
  line-height: 70px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 85px;
  height: 20px;
}
.image31,
.urbanstayParent {
  position: absolute;
  width: 133px;
}
.image31 {
  top: 0;
  left: 0;
  height: 46px;
  object-fit: cover;
}
.urbanstayParent {
  top: 22px;
  left: 5px;
  height: 69px;
  cursor: pointer;
}
.profileIcon {
  position: absolute;
  top: 42px;
  left: 1398px;
  width: 77px;
  height: 36.91px;
  object-fit: cover;
  cursor: pointer;
}
.contactUs {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 600;
}
.itemLink5,
.itemLink6 {
  position: absolute;
  width: calc(100% - 467px);
  top: 0;
  right: 0;
  left: 467px;
  border-radius: var(--br-mini);
  height: 29px;
  cursor: pointer;
}
.itemLink6 {
  width: calc(100% - 496.18px);
  right: 191.18px;
  left: 305px;
}
.browse1 {
  position: absolute;
  top: 7px;
  font-size: 11px;
  left: 0;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.itemLink7 {
  width: calc(100% - 496.18px);
  top: 0;
  right: 353.18px;
  left: 143px;
  border-radius: var(--br-mini);
  color: var(--color-slateblue-100);
}
.itemLink7,
.itemLink8,
.itemLinkParent {
  position: absolute;
  height: 29px;
}
.itemLink8 {
  width: calc(100% - 515.04px);
  top: 0;
  right: 515.04px;
  left: 0;
  border-radius: var(--br-mini);
  cursor: pointer;
}
.itemLinkParent {
  width: calc(100% - 1196.76px);
  top: 47px;
  right: 709.76px;
  left: 487px;
  font-size: var(--body-copy-14pt-regular-size);
  color: var(--color-gray-100);
}
.roomsAndGuestsSearchBar {
  position: absolute;
  top: 0;
  left: 1012px;
}
.destination,
.reservationDates {
  position: absolute;
  top: calc(50% - 28px);
}
.reservationDates {
  left: calc(50% - 223px);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 588px;
  height: 56px;
  overflow: hidden;
}
.destination {
  border: 0;
  background-color: transparent;
  left: calc(50% - 647px);
}
.searchbar,
.searchbuttonIcon {
  position: absolute;
  top: 0;
  height: 56px;
  overflow: hidden;
}
.searchbar {
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--shade-01);
  width: 1294px;
}
.searchbuttonIcon {
  left: 1293px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 56px;
}
.searchbuttonIcon:hover {
  background-color: var(--color-slateblue-200);
  cursor: pointer;
}
.searchPropertyComponent,
.searchbarParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1349px;
  height: 56px;
}
.searchPropertyComponent {
  top: 128px;
  left: 79px;
  cursor: pointer;
}
.roomandguestrectangleChild {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 427px;
  height: 240px;
}
.rooms {
  padding: 0;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: center;
  width: 157px;
  flex-shrink: 0;
}
.button,
.roomframe,
.rooms {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomframe {
  padding: var(--padding-3xs);
  position: absolute;
  top: 23px;
  left: 2px;
  width: 160px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.roomcounterframe:hover,
.roomframe:hover {
  gap: var(--gap-3xs);
  cursor: pointer;
}
.button {
  padding: 0;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 71px;
  flex-shrink: 0;
}
.minussignChild,
.roomcounterframe {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: 41px;
}
.roomcounterframe {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  left: 50px;
  width: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.minussignChild {
  left: 0;
  background-color: var(--shade-01);
  border: 1px solid var(--color-darkgray-200);
  width: 46px;
}
.mdiLightminusIcon {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.minussign,
.plusrectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 41px;
}
.minussign {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.minussign,
.minussign:hover {
  cursor: pointer;
}
.plusrectangle {
  background-color: var(--shade-01);
  border: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
}
.phplusLightIcon {
  position: absolute;
  top: 33px;
  left: 11px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.plussign,
.roomplusminus {
  position: absolute;
  height: 41px;
}
.plussign {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 118px;
  width: 46px;
}
.roomplusminus {
  top: 27px;
  left: 207px;
  width: 164px;
}
.button1,
.minussign1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.button1 {
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  flex-shrink: 0;
}
.minussign1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 41px;
}
.guestframe,
.guestplusminus {
  position: absolute;
  top: 110px;
  left: 207px;
  width: 164px;
  height: 41px;
}
.guestframe {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  top: 105px;
  left: 3px;
  width: 160px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.cancelbtn:hover,
.confirmbtn:hover,
.guestframe:hover {
  gap: var(--gap-3xs);
  cursor: pointer;
}
.separator {
  top: 88.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-lightgray-100);
  width: 431px;
  height: 1px;
}
.groupChild,
.separator,
.separator1 {
  position: absolute;
  box-sizing: border-box;
}
.separator1 {
  top: 179.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray-100);
  width: 431px;
  height: 1px;
}
.groupChild {
  top: -0.25px;
  left: 212.75px;
  border-right: 0.5px solid var(--color-gray-200);
  width: 0.5px;
  height: 60.5px;
}
.cancel,
.cancelbtn,
.confirmbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel {
  padding: 0;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: center;
  width: 212px;
  flex-shrink: 0;
}
.cancelbtn,
.confirmbtn {
  padding: var(--padding-3xs);
  position: absolute;
  top: 4px;
  left: 0;
  width: 213px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.confirmbtn {
  left: 213px;
}
.lineParent {
  position: absolute;
  top: 180px;
  left: 2px;
  width: 426px;
  height: 60px;
}
.roomandguestrectangle {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 433px;
  height: 240px;
}
.roomsAndGuestsPopup {
  position: absolute;
  top: 189px;
  left: 946px;
  background-color: var(--color-gray-900);
  width: 436px;
  height: 254px;
  display: none;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.loginPopupWithLogoutGrpChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 311px;
  height: 286px;
}
.becomeAHost,
.becomehostbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.becomeAHost {
  padding: 0;
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 262px;
  flex-shrink: 0;
}
.becomehostbtn {
  padding: var(--padding-3xs);
  position: absolute;
  top: 123px;
  left: 1px;
  width: 311px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.accsettingsbtn:hover,
.becomehostbtn:hover,
.signinbtn:hover,
.signoutbtn:hover,
.signupbtn:hover,
.wishlistbtn:hover {
  background-color: var(--color-lightgray-100);
  gap: var(--gap-3xs);
}
.loginPopupWithLogoutGrpItem {
  position: absolute;
  top: 195.75px;
  left: 0.75px;
  border-top: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 310.5px;
  height: 0.5px;
}
.accsettingsbtn,
.wishlistbtn {
  padding: var(--padding-3xs);
  position: absolute;
  left: 0;
  width: 311px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.accsettingsbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  top: 23px;
  display: flex;
  align-items: center;
}
.wishlistbtn {
  top: 73px;
}
.signOut,
.signoutbtn,
.wishlistbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.signOut {
  padding: 0;
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 262px;
  flex-shrink: 0;
}
.signoutbtn {
  padding: var(--padding-3xs);
  position: absolute;
  top: 213px;
  left: 1px;
  width: 311px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.loginPopupWithLogoutGrp,
.signinPopupWithSignout {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 286px;
}
.signinPopupWithSignout {
  top: 85px;
  left: 1162px;
}
.loginPopupWithoutLogoutGrpChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 311px;
  height: 107px;
}
.signIn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 259px;
  flex-shrink: 0;
}
.signinbtn {
  padding: var(--padding-3xs);
  position: absolute;
  bottom: 54px;
  left: 0;
  width: 311px;
  height: 35px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.signUp,
.signinbtn,
.signupbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.signUp {
  padding: 0;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 262px;
  flex-shrink: 0;
}
.signupbtn {
  padding: var(--padding-3xs);
  position: absolute;
  bottom: 19px;
  left: 0;
  width: 311px;
  height: 35px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.loginPopupWithoutLogoutGrp {
  position: absolute;
  top: 11px;
  left: 8px;
  width: 311px;
  height: 107px;
}
.signinPopupWithoutSignout {
  position: absolute;
  top: 68px;
  left: 1155px;
  background-color: var(--color-gray-900);
  width: 332px;
  height: 127px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.stickyNavBar {
  position: absolute;
  top: -17px;
  left: 0;
  width: 1760px;
  height: 456px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-darkblue);
}
.browse {
  position: relative;
  background-color: var(--shade-01);
  width: 100%;
  height: 3388px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lato);
}