/* DataGridStyles.css */

.available-cell {
    background-color: white;
    color: green;
    font-weight: bold;
  }
  
  .booked-cell {
    background-color: white;
    color: red;
    font-weight: bold;
  }
  