.heading4 {
  position: relative;
  line-height: 28.8px;
  font-weight: 600;
}
.downloadTheApp {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-whitesmoke-200);
}
.divfooterContentHeading {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-76xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-10xl-8);
}
.googlePaypngIcon {
  position: relative;
  width: 168px;
  height: 60px;
  object-fit: cover;
  max-width: 173px;
}
.link {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
}
.appStorepngIcon {
  position: relative;
  width: 162px;
  height: 60px;
  object-fit: cover;
  max-width: 167px;
}
.divdownloadApp {
  position: absolute;
  top: 97.8px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-57xl) 0 0;
}
.heading41 {
  position: relative;
  line-height: 28.8px;
  text-transform: capitalize;
  font-weight: 600;
}
.symbol {
  position: relative;
  line-height: 18px;
}
.ifaBrands,
.itemLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemLink {
  border-radius: var(--br-xl);
  background-color: var(--shade-01);
  width: 40px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 13.619999885559082px var(--padding-2xs)
    14.380000114440918px;
  box-sizing: border-box;
}
.itemmargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.itemLink1,
.itemLink2,
.itemLink3,
.itemLink4 {
  border-radius: var(--br-xl);
  background-color: var(--shade-01);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 11.869999885559082px var(--padding-2xs)
    12.130000114440918px;
  box-sizing: border-box;
}
.itemLink2,
.itemLink3,
.itemLink4 {
  padding: var(--padding-2xs) 9.119999885559082px var(--padding-2xs)
    9.880000114440918px;
}
.itemLink3,
.itemLink4 {
  padding: var(--padding-2xs);
}
.itemLink4 {
  padding: var(--padding-2xs) 12.75px var(--padding-2xs) 13.25px;
}
.item {
  align-self: stretch;
  flex-direction: column;
}
.divsocialLinks,
.item,
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-107xl) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-midnightblue-300);
  font-family: var(--font-font-awesome-5-brands);
}
.divsocialLinks {
  position: absolute;
  width: 100%;
  top: 207.8px;
  right: 0;
  left: 0;
  flex-direction: column;
  gap: 14.79px;
}
.divcolLg4,
.divfooterAppContent {
  position: absolute;
  top: 0;
  height: 291.59px;
}
.divfooterAppContent {
  width: calc(100% - 24px);
  right: 12px;
  left: 12px;
}
.divcolLg4 {
  left: 0;
  width: 440px;
}
.explore {
  position: relative;
  line-height: 28.8px;
  font-weight: 600;
  display: inline-block;
  max-height: 28.799999237060547px;
}
.heading42 {
  position: absolute;
  top: 0;
  left: calc(50% - 98px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-88xl) 0 0;
}
.listings {
  position: relative;
  line-height: 24px;
}
.link3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.symbol6 {
  position: absolute;
  margin: 0 !important;
  top: 1.5px;
  left: 0;
  font-size: var(--body-copy-14pt-regular-size);
  line-height: 21px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 10.5px;
  height: 21px;
  flex-shrink: 0;
  z-index: 1;
}
.item1,
.item2 {
  display: flex;
  justify-content: flex-start;
}
.item1 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-100xl) 0 var(--padding-lg);
  position: relative;
}
.item2 {
  padding: 0 var(--padding-95xl) 0 var(--padding-lg);
}
.item2,
.item3,
.item4 {
  flex-direction: row;
  align-items: center;
  position: relative;
}
.item3 {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-116xl) 0 var(--padding-lg);
}
.item4 {
  padding: 0 var(--padding-115xl) 0 var(--padding-lg);
}
.item4,
.item5,
.list1 {
  display: flex;
  justify-content: flex-start;
}
.item5 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-101xl) 0 var(--padding-lg);
  position: relative;
}
.list1 {
  position: absolute;
  top: 58.8px;
  left: calc(50% - 98px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-200);
}
.divfooterWidgetList {
  width: calc(100% - 24px);
  right: 12px;
  left: 12px;
  height: 258.8px;
}
.divcolLg2,
.divfooterWidgetList,
.heading43 {
  position: absolute;
  top: 0;
}
.divcolLg2 {
  height: 100%;
  width: calc(100% - 880px);
  right: 440px;
  bottom: 0;
  left: 440px;
}
.heading43 {
  left: calc(50% - 98px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-47xl) 0 0;
}
.item10,
.item6,
.item7,
.item8,
.item9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-69xl) 0 var(--padding-lg);
  position: relative;
}
.item10,
.item7,
.item8,
.item9 {
  padding: 0 var(--padding-112xl) 0 var(--padding-lg);
}
.item10,
.item8,
.item9 {
  padding: 0 var(--padding-110xl) 0 var(--padding-lg);
}
.item10,
.item9 {
  padding: 0 var(--padding-120xl) 0 var(--padding-lg);
}
.item10 {
  padding: 0 var(--padding-130xl) 0 var(--padding-lg);
}
.divcolLg21 {
  position: absolute;
  height: 100%;
  width: calc(100% - 880px);
  top: 0;
  right: 220px;
  bottom: 0;
  left: 660px;
}
.heading44 {
  position: absolute;
  top: 0;
  left: calc(50% - 98px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-62xl) 0 0;
}
.item11,
.item12,
.item13,
.item14,
.item15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-56xl) 0 var(--padding-lg);
  position: relative;
}
.item12,
.item13,
.item14,
.item15 {
  padding: 0 var(--padding-99xl) 0 var(--padding-lg);
}
.item13,
.item14,
.item15 {
  padding: 0 var(--padding-122xl) 0 var(--padding-lg);
}
.item14,
.item15 {
  padding: 0 var(--padding-137xl) 0 var(--padding-lg);
}
.item15 {
  padding: 0 var(--padding-94xl) 0 var(--padding-lg);
}
.divcolLg22 {
  position: absolute;
  height: 100%;
  width: calc(100% - 880px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 880px;
}
.divcontainer,
.divfooterTop,
.divrow {
  position: absolute;
  top: 0;
  left: 12px;
  width: 1100px;
  height: 291.59px;
}
.divcontainer,
.divfooterTop {
  top: 60px;
  left: 168px;
  width: 1124px;
}
.divfooterTop {
  top: 0;
  left: 0;
  width: 1788px;
  height: 411.59px;
}
.copyright2023 {
  position: absolute;
  top: 0;
  left: -12px;
  line-height: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1518px;
}
.divfooterBottom,
.p {
  position: absolute;
  width: calc(100% - 1221px);
  top: 15px;
  right: 1209px;
  left: 12px;
  height: 21px;
}
.divfooterBottom {
  width: calc(100% - 380px);
  top: 412px;
  right: 380px;
  left: 0;
  background-color: var(--color-gray-600);
  height: 51px;
  text-align: center;
  font-size: var(--body-copy-14pt-regular-size);
}
.footer {
  position: absolute;
  width: calc(100% + 384px);
  right: -384px;
  bottom: 0.41px;
  left: 0;
  background-color: var(--color-gray-500);
  height: 462.59px;
  color: var(--shade-01);
  font-family: var(--font-plus-jakarta-sans);
}
.ratingsAsA,
.ratingsAsA1,
.rentedVsCancelled {
  position: absolute;
  top: 0px;
  left: 0;
  text-transform: capitalize;
  font-weight: 500;
}
.ratingsAsA,
.ratingsAsA1 {
  left: 312px;
}
.ratingsAsA1 {
  left: 622px;
}
.guestratingbreakdown,
.hostratingbreakdown,
.rentedvccanceled {
  position: absolute;
  top: 45px;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 290px;
  height: 203px;
}
.guestratingbreakdown,
.hostratingbreakdown {
  left: 312px;
  width: 288px;
}
.guestratingbreakdown {
  left: 622px;
}
.rentedVsCancelledParent {
  position: absolute;
  top: 1050px;
  left: 554px;
  width: 910px;
  height: 248px;
  font-size: var(--font-size-xl);
}
.totalEarnings {
  position: absolute;
  top: 600px;
  font-size: 20px;
  left: 561px;
  text-transform: capitalize;
  font-weight: 500;
}
.showAllReviews {
  position: absolute;
  top: 14.8px;
  left: 33.38px;
  line-height: 20px;
  font-weight: 600;
}
.button {
  top: 0;
  left: -6px;
  border-radius: var(--br-5xs);
  background-color: var(--shade-01);
  border: 1px solid var(--shade-02);
  box-sizing: border-box;
  width: 188px;
  height: 48px;
}
.button,
.divb9672i7,
.h3 {
  position: absolute;
}
.divb9672i7 {
  top: 3771px;
  left: 106px;
  width: 653.32px;
  height: 47.6px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--shade-02);
  font-family: var(--font-roboto);
}
.h3 {
  top: 156px;
  left: 0;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  width: 1520px;
}
.pseudoIcon,
.testimonialSection {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.testimonialSection {
  top: 15px;
  background-color: var(--color-midnightblue-200);
  height: 263px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--shade-01);
}
.pseudoIcon {
  height: 12.58%;
  top: 29px;
  bottom: 82.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thankYouForCreatingAnAcco {
  margin: 0;
 
}
.blankLine {
  margin: 0;
  font-size: var(--font-size-17xl);
}
.weHaveSent {
  margin: 1px;
  font-size: 14px;
  color: var(--color-black);
}
.h31 {
  position: absolute;
  top: 350px;
  left: 558px;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 32px;
  display: inline-block;
  width: 818px;
  height: 150px;
}
.setUpA,
.setupprofilebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.setUpA {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--shade-01);
  text-align: center;
  width: 150px;
  flex-shrink: 0;
}
.setupprofilebtn {
  position: absolute;
  top: 500px;
  left: 558px;
  border-radius: 9.08px;
  background-color: var(--color-darkblue);
  width: 160px;
  height: 61px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.setupprofilebtn:hover {
  background-color: var(--color-red);
  gap: var(--gap-3xs);
}
.earningGraph {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 880px;
  height: 320px;
}
.earningGraphWrapper {
  position: absolute;
  top: 650px;
  left: 557px;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 910px;
  height: 350px;
  overflow: hidden;
}
.usericon {
  position: relative;
  width: 138.27px;
  height: 180.73px;
  object-fit: cover;
}
.userName {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 70.19%;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 61px;
  flex-shrink: 0;
}
.profileCardChild {
  position: relative;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 432px;
  height: 5px;
}

.carbonlocationIcon {
  width: 16.06%;
  position: relative;
  top: 30px; /* Adjusted the top value to move it beneath the previous element */
  right: 50px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.livesInDhaka {
  height: 97.22%;
  top: 40px; /* Adjusted the top value to move it beneath the previous element */
  right: 10px;
}


.solarcalendarOutlineIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 32px;
  overflow: hidden;
}
.joinedOn18 {
  position: absolute;
  top: px;
  left: 20px;
  line-height: 70.19%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 260px;
  height: 28px;
}
.userjoin {
   position: relative; /**/
  width: 303.5px;
  height: 3000px;
}
.ratingstarIcon {
  position: absolute;
  width: 10.57%;
  top: 13px;
  right: 89.76%;
  left: -0.33%;
  max-width: 100%;
  overflow: hidden;
  height: 30.43px;
}
.stars {
  position: absolute;
  top: 15px;
  left: 41.25px;
  line-height: 70.19%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 258px;
  height: 30px;
}
.rating {
  position: relative;
  width: 299.25px;
  height: 30.63px;
}
.profileCard,
.verifiedEmail {
  position: absolute;
  display: flex;
  align-items: center;
}
.profileCard {
  bottom: 473px;
  left: -19px;
  border-radius: var(--br-24xl);
  background-color: var(--shade-01);
  box-shadow: 0 0 20px 2px rgba(26, 26, 26, 0.15);
  height: 588px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 63px 0 100px;
  box-sizing: border-box;
  gap: 35px;
}
.verifiedEmail {
  top: 0;
  left: 42.99px;
  line-height: 70.19%;
  font-weight: 500;
  width: 236.01px;
  height: 46px;
}
.charmtickIcon,
.verifiedemail {
  position: absolute;
  top: 10.75px;
  left: 0;
  width: 34.22px;
  height: 23.3px;
}
.verifiedemail {
  top: 709px;
  left: 88px;
  width: 279px;
  height: 46px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.profileCardParent {
  position: absolute;
  top: 266px;
  left: 89px;
  width: 430px;
  height: 1151px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-dm-sans);
}
.whiterectangle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--shade-01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 1518px;
  height: 105px;
}
.stay {
  font-weight: 500;
  color: var(--color-mediumslateblue-100);
}
.urbanstayTxt {
  line-break: anywhere;
  width: 100%;
}
.urbanstay {
  position: absolute;
  top: 49px;
  left: 25px;
  letter-spacing: -1px;
  line-height: 70px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 85px;
  height: 20px;
}
.image31,
.urbanstayParent {
  position: absolute;
  width: 133px;
}
.image31 {
  top: 0;
  left: 0;
  height: 46px;
  object-fit: cover;
}
.urbanstayParent {
  top: 22px;
  left: 5px;
  height: 69px;
  cursor: pointer;
}
.profileIcon {
  position: absolute;
  cursor: pointer;
  top: 42px;
  left: 1398px;
  width: 77px;
  height: 36.91px;
  object-fit: cover;
}
.loginPopupWithLogoutGrpChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--shade-01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 311px;
  height: 286px;
}
.becomeAHost,
.becomehostbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.becomeAHost {
  padding: 0;
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 262px;
  flex-shrink: 0;
}
.becomehostbtn {
  padding: var(--padding-3xs);
  position: absolute;
  top: 123px;
  left: 1px;
  width: 311px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.accsettingsbtn:hover,
.becomehostbtn:hover,
.signoutbtn:hover,
.wishlistbtn:hover {
  background-color: var(--color-lightgray-100);
  gap: var(--gap-3xs);
}
.loginPopupWithLogoutGrpItem {
  position: absolute;
  top: 195.75px;
  left: 0.75px;
  border-top: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 310.5px;
  height: 0.5px;
}
.accsettingsbtn,
.wishlistbtn {
  padding: var(--padding-3xs);
  position: absolute;
  left: 0;
  width: 311px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.accsettingsbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  top: 23px;
  display: flex;
  align-items: center;
}
.wishlistbtn {
  top: 73px;
}
.signOut,
.signoutbtn,
.wishlistbtn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.signOut {
  padding: 0;
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 262px;
  flex-shrink: 0;
}
.signoutbtn {
  padding: var(--padding-3xs);
  position: absolute;
  top: 213px;
  left: 1px;
  width: 311px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.loginPopupWithLogoutGrp,
.signinPopupWithSignout {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 286px;
}
.signinPopupWithSignout {
  top: 82px;
  left: 1162px;
}
.itemLink5 {
  position: absolute;
  width: calc(100% - 577px);
  top: 0;
  right: 364px;
  left: 213px;
  border-radius: var(--br-mini);
  height: 29px;
  cursor: pointer;
}
.reservations {
  position: absolute;
  top: 7px;
  font-size: 11px;
  left: 0;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 600;
}
.itemLink6,
.itemLink7 {
  position: absolute;
  width: calc(100% - 541px);
  top: 0;
  right: 205px;
  left: 336px;
  border-radius: var(--br-mini);
  height: 29px;
  cursor: pointer;
}
.itemLink7 {
  width: calc(100% - 495px);
  right: 0;
  left: 495px;
}
.profile {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.itemLink8 {
  width: calc(100% - 583.94px);
  top: 0;
  right: 486.94px;
  left: 97px;
  border-radius: var(--br-mini);
  color: var(--color-slateblue-100);
}
.itemLink8,
.itemLink9,
.itemLinkParent {
  position: absolute;
  height: 29px;
}
.itemLink9 {
  width: calc(100% - 602.8px);
  top: 0;
  right: 602.8px;
  left: 0;
  border-radius: var(--br-mini);
  cursor: pointer;
}
.itemLinkParent {
  width: calc(100% - 1109px);
  top: 44px;
  right: 679px;
  left: 430px;
  font-size: var(--body-copy-14pt-regular-size);
  color: var(--color-gray-100);
}
.stickyNavBar {
  position: fixed;
  top: -17px;
  left: 0;
  width: 1760px;
  height: 340px;
  overflow: hidden;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.tempProfile {
  position: relative;
  background-color: var(--shade-01);
  width: 100%;
  height: 1930px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkblue);
  font-family: var(--font-poppins);
}
