.priceRange {
  top: 5px;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  width: 488px;
  height: 34.8px;
}
.filterAccordingTo,
.priceRange,
.propertyType {
  position: absolute;
  left: 35px;
  line-height: 70.19%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.filterAccordingTo {
  top: 30px;
  font-size: 14px;
  color: #5a5656;
  width: 550px;
  height: 26.1px;
}
.propertyType {
  top: 198px;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  width: 488px;
  height: 34.8px;
}
.filterinnerChild {
  position: absolute;
  top: 185.5px;
  left: 0px;
  border-top: 1px solid #dcdcdc;
  box-sizing: border-box;
  width: 765px;
  height: 1px;
}

.filterinnerChild2 {
  position: absolute;
  top: -5px;
  z-index: 1000;
  border-top: 1px solid #dcdcdc;
  box-sizing: border-box;
  width: 759px;
  height: 1px;
}

.filterinnerChild3 {
  position: absolute;
  top: 380.5px;
  left: 0px;
  z-index: 1000;
  border-top: 1px solid #dcdcdc;
  box-sizing: border-box;
  width: 759px;
  height: 1px;
}


.propertyTypeIcon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.house {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  top: 8px;
  
}
.propertyType1,
.textIcon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textIcon {
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.propertyType1 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-xs);
  background-color: var(--shade-01);
  border: 1px solid var(--neutral-03);
  box-sizing: border-box;
  width: 167px;
  flex-direction: row;
  padding: var(--padding-base);
  cursor: auto;
}
.propertyType1:hover {
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  cursor: pointer;
}
.propertyType1:active {
  background-color: var(--color-silver-100);
}
.propertyTypeIcon1 {
  position: absolute;
  top: 13.5px;
  left: 16px;
  width: 32px;
  height: 30.9px;
  object-fit: cover;
}
.apartmentprop {
  position: absolute;
  top: 247.9px;
  left: 215px;
  width: 166px;
  height: 128px;
}
.house1 {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  top: 8px;
  font-family: var(--font-poppins);
  color: var(--shade-02);
  text-align: left;
}
.propertyTypeIcon3 {
  position: absolute;
  top: 16.1px;
  left: 16px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.houseprop {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 247.9px;
  left: 35px;
  width: 166px;
  height: 128px;
}
.propertyTypeIcon5 {
  position: absolute;
  top: 22.2px;
  left: 16px;
  width: 32px;
  height: 30.9px;
  object-fit: cover;
}
.guesthouseprop {
  position: absolute;
  top: 245px;
  left: 395px;
  width: 166px;
  height: 128px;
}
.propertyType4 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-xs);
  border: 1px solid var(--neutral-03);
  box-sizing: border-box;
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.propertyType4:hover {
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  cursor: pointer;
}
.propertyType4:active {
  background-color: var(--color-silver-100);
}
.propertyTypeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  height: 128px;
}
.propertyTypeWrapper:hover {
  cursor: pointer;
}
.propertyTypeIcon7 {
  position: absolute;
  top: 20.3px;
  left: 18px;
  width: 32px;
  height: 30.9px;
  object-fit: cover;
}
.hotelprop,
.priceslider {
  position: absolute;
  top: 245px;
  left: 575px;
  width: 166px;
  height: 128px;
}
.priceslider {
  top: 100px;
  left: 35px;
  width: 702px;
  height: 51px;
}
.filterinner,
.footerChild {
  position: absolute;
  top: 123px;
  left: 300px;
  background-color: var(--shade-01);
  width: 774px;
  height: 435px;
}
.footerChild {
  top: 0;
  left: 2px;
  border-radius: 0 0 var(--br-15xl) var(--br-15xl);
  height: 103px;
}
.filterPlaces {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--shade-01);
  text-align: center;
  display: inline-block;
}
.clearSelection,
.filterPlacesWrapper {
  position: absolute;
  display: flex;
  align-items: center;
}
.filterPlacesWrapper {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #371dae;
  top: 38px;
  left: 633px;
  border-radius: 9.08px;
  width: 115px;
  height: 41px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.filterPlacesWrapper:hover {
  background-color: rgba(88, 57, 227, 0.93);
  gap: 10px;
  cursor: pointer;
}
.clearSelection {
  top: 31px;
  left: 38px;
  text-decoration: underline;
  line-height: 70.19%;
  font-weight: 500;
  width: 395px;
  height: 55px;
}
.footerItem {
  position: absolute;
  top: 16.5px;
  left: 1.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 775px;
  height: 1px;
}
.footer {
  position: absolute;
  top: 490px;
  left: 298px;
  width: 778px;
  height: 117px;
  font-size: var(--font-size-mini);
  color: var(--color-black);

}
.crossIcon,
.heading {
  position: absolute;
  border-radius: var(--br-15xl) var(--br-15xl) 0 0;
}
.heading {
  top: 0;
  left: 1px;
  background-color: var(--shade-01);
  width: 774px;
  height: 103px;
}
.crossIcon {
  top: 36px;
  left: 38px;
  width: 22px;
  height: 23px;
  object-fit: cover;
}
.headerChild {
  position: absolute;
  top: 110.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 779px;
  height: 1px;
}
.filters {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 40px;
  right: 376px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.header {
  position: absolute;
  top: 28px;
  left: 300px;
  width: 778px;
  height: 103px;
}
.filterPopup {
  width: 1000px;
  height: 644px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-copy-16pt-semibold-size);
  color: var(--shade-02);
  font-family: var(--font-poppins);
 
}
