.reviewdetailsChild {
  position: absolute;
  top: 52px;
  left: 28px;
  border-radius: var(--br-11xl);
  width: 1089px;
  height: 646px;
}
.crossIcon,
.groupChild {
  position: absolute;
  border-radius: var(--br-15xl);
}
.groupChild {
  top: 0;
  left: 5.5px;
  background-color: var(--shade-01);
  width: 1063.5px;
  height: 103px;
}
.crossIcon {
  top: 38px;
  left: 49px;
  width: 22px;
  height: 21px;
  cursor: pointer;
}
.groupItem {
  position: absolute;
  top: 102.5px;
  left: -0.5px;
  border-top: 1px solid #b8b7b7;
  box-sizing: border-box;
  width: 1070px;
  height: 1px;
}
.reviewDetails {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 40px;
  right: 483px;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.rectangleParent {
  position: absolute;
  top: 58px;
  left: 38px;
  width: 1069px;
  height: 103px;
}
.barchart,
.usericon {
  position: absolute;
  top: 221px;
}
.barchart {
  left: 87px;
  background-color: var(--color-gainsboro-200);
  width: 465px;
  height: 357px;
}
.usericon {
  left: 575px;
  width: 70px;
  height: 71px;
  object-fit: cover;
}
.mayeeshaMusarrat1 {
  font-weight: 500;
}
.mayeeshaMusarrat {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.september2023 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 300;
}
.mayeeshaMusarrat23SeptemberContainer1 {
  line-break: anywhere;
  width: 100%;
}
.mayeeshaMusarrat23SeptemberContainer {
  position: absolute;
  top: 213px;
  left: 663px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 236px;
  height: 79px;
}
.asSoonAs {
  position: absolute;
  top: 306px;
  left: 584px;
  text-transform: capitalize;
  display: inline-block;
  width: 466px;
  height: 272px;
}
.reviewdetails {
  border-radius: var(--br-3xs);
  width: 1167px;
  height: 750px;
  overflow-y: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
